pipeline/SQLtoADLSasDelta.json
{
	"name": "SQLtoADLSasDelta",
	"properties": {
		"activities": [
			{
				"name": "GetControlTable",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SetPipelineExecutionTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM etl.ControlTable where turnonoff = 'on'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "etlControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetControlTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetControlTable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Update Last Run Time",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Remove Keys File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "etl.update_last_run_time_with_variable",
								"storedProcedureParameters": {
									"last_run": {
										"value": {
											"value": "@variables('runtime')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"Schema": {
										"value": {
											"value": "@item().source_schema",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_SourceDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CopyKeystoRaw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "UpsertDelta",
									"type": "DataFlowReference",
									"parameters": {
										"alds_folder": {
											"value": "'@{item().alds_folder}'",
											"type": "Expression"
										},
										"staging_directory": {
											"value": "'@{item().staging_directory}'",
											"type": "Expression"
										},
										"destination_folder": {
											"value": "'@{item().destination_table}'",
											"type": "Expression"
										},
										"keycolumn": {
											"value": "'@{item().key_column}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"filesystemname": {
												"value": "@item().alds_folder",
												"type": "Expression"
											},
											"filename": {
												"value": "@item().destination_table",
												"type": "Expression"
											},
											"directory": {
												"value": "@item().raw_directory",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Data flow1_copy1",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Data flow1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "AddDeleteFlag",
									"type": "DataFlowReference",
									"parameters": {
										"alds_folder": {
											"value": "'@{item().alds_folder}'",
											"type": "Expression"
										},
										"staging_directory": {
											"value": "'@{item().staging_directory}'",
											"type": "Expression"
										},
										"destination_folder": {
											"value": "'@{item().destination_table}'",
											"type": "Expression"
										},
										"keycolumn": {
											"value": "'@{item().key_column}'",
											"type": "Expression"
										},
										"source_schema": {
											"value": "'@{item().source_schema}'",
											"type": "Expression"
										},
										"source_table": {
											"value": "'@{item().source_table}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"sourcekeys": {
											"filesystemname": {
												"value": "@item().alds_folder",
												"type": "Expression"
											},
											"filename": {
												"value": "@item().destination_table",
												"type": "Expression"
											},
											"directory": {
												"value": "@concat(item().raw_directory,'/','keys/')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "CopyKeystoRaw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT @{item().key_column} FROM @{concat(item().source_schema,'.',item().source_table)} ",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLAdventureWorks",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().source_schema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().source_table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLSGen2_ForRawStaging",
									"type": "DatasetReference",
									"parameters": {
										"filesystemname": {
											"value": "@item().alds_folder",
											"type": "Expression"
										},
										"filename": {
											"value": "item().destination_table",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(item().raw_directory,'/','keys/')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Remove Keys File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Data flow1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ADLSGen2_ForRawStaging",
									"type": "DatasetReference",
									"parameters": {
										"filesystemname": {
											"value": "@item().alds_folder",
											"type": "Expression"
										},
										"filename": {
											"value": "item().destination_table",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(item().raw_directory,'/','keys/')",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "SetPipelineExecutionTime",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "runtime",
					"value": {
						"value": "@formatDateTime(\nconvertTimeZone(\naddMinutes(utcnow(),-1),'UTC','Eastern Standard Time'),'yyyy-MM-dd HH:mm:ss.fff')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"runtime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-06-24T16:33:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}