pipeline/SQLtoADLSasParquet.json
{
	"name": "SQLtoADLSasParquet",
	"properties": {
		"activities": [
			{
				"name": "GetControlTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM etl.ControlTable",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "etlControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetControlTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetControlTable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyTabletoADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQLAdventureWorks",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().source_schema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().source_table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLSGen2",
									"type": "DatasetReference",
									"parameters": {
										"filesystemname": {
											"value": "@item().alds_folder",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().destination_table",
											"type": "Expression"
										},
										"filetype": {
											"value": "@item().alds_filetype",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Last Run Time",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyTabletoADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[etl].[updatelastruntime_controltable]",
								"storedProcedureParameters": {
									"Schema": {
										"value": {
											"value": "@item().source_schema",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_SourceDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-06-24T16:33:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}